{
	"raw": {},
	"required": [
		"Filename",
		"Size"
	],
	"package": "kconfig-frontends",
	"version": "4.11.0.1+dfsg-5",
	"section": "devel",
	"priority": "optional",
	"architecture": "amd64",
	"depends": [
		"libc6 (>= 2.14)",
		"libgcc-s1 (>= 3.0)",
		"libncursesw6 (>= 6)",
		"libqt5core5a (>= 5.15.1)",
		"libqt5gui5 (>= 5.0.2) | libqt5gui5-gles (>= 5.0.2)",
		"libqt5widgets5 (>= 5.14.1)",
		"libstdc++6 (>= 4.1.1)",
		"libtinfo6 (>= 6)",
		"python3",
		"libncurses-dev"
	],
	"recommends": [
		"qtbase5-dev"
	],
	"replaces": [
		"kconfig-frontends-nox"
	],
	"breaks": [
		"kconfig-frontends-nox"
	],
	"installedSize": 515,
	"maintainer": "Philippe Thierry <philou@debian.org>",
	"description": "Standalone implementation of the Linux Kconfig parser and frontend",
	"homepage": "http://ymorin.is-a-geek.org/projects/kconfig-frontends",
	"filename": "pool/main/k/kconfig-frontends/kconfig-frontends_4.11.0.1+dfsg-5_amd64.deb",
	"size": 163340,
	"md5": "291c069c1a38b722f67c85063ecab1f2",
	"sha256": "80e1c049bf9586b6078d1c56c00dc512bb8ee4019718ac092c515f280d1075fd",
	"descriptionMd5": "71d98910429ac98f96fb655a713fa6f6"
}