{
	"raw": {},
	"required": [
		"Filename",
		"Size"
	],
	"package": "kconfig-frontends",
	"source": "kconfig-frontends (4.11.0.1+dfsg-6)",
	"version": "4.11.0.1+dfsg-6+b1",
	"section": "devel",
	"priority": "optional",
	"architecture": "amd64",
	"depends": [
		"libc6 (>= 2.34)",
		"libgcc-s1 (>= 3.0)",
		"libncursesw6 (>= 6)",
		"libqt5core5t64 (>= 5.15.1)",
		"libqt5gui5t64 (>= 5.0.2) | libqt5gui5-gles (>= 5.0.2)",
		"libqt5widgets5t64 (>= 5.14.1)",
		"libstdc++6 (>= 4.1.1)",
		"libtinfo6 (>= 6)",
		"python3",
		"libncurses-dev"
	],
	"recommends": [
		"qtbase5-dev"
	],
	"replaces": [
		"kconfig-frontends-nox"
	],
	"breaks": [
		"kconfig-frontends-nox"
	],
	"installedSize": 520,
	"maintainer": "Philippe Thierry <philou@debian.org>",
	"description": "Standalone implementation of the Linux Kconfig parser and frontend",
	"homepage": "http://ymorin.is-a-geek.org/projects/kconfig-frontends",
	"filename": "pool/main/k/kconfig-frontends/kconfig-frontends_4.11.0.1+dfsg-6+b1_amd64.deb",
	"size": 163760,
	"md5": "1ffe3a666bc0584f822aed7629169ffb",
	"sha256": "a422f5a38e0f10215ee08c9dd5f238d229203acc4fa21a6ee5a51f8b9d4acf0b",
	"descriptionMd5": "71d98910429ac98f96fb655a713fa6f6"
}