[{"raw":{},"required":["Filename","Size"],"package":"kconfig-frontends-nox","source":"kconfig-frontends","version":"4.11.0.1+dfsg-6","section":"devel","priority":"optional","architecture":"amd64","depends":["libc6 (>= 2.14)","libncursesw6 (>= 6)","libtinfo6 (>= 6)","python3","libncurses-dev"],"replaces":["kconfig-frontends (<< 4.11.0.1+dfsg-4)"],"breaks":["kconfig-frontends (<< 4.11.0.1+dfsg-4)"],"installedSize":361,"maintainer":"Philippe Thierry <philou@debian.org>","description":"NoX standalone implementation of the Linux Kconfig parser","homepage":"http://ymorin.is-a-geek.org/projects/kconfig-frontends","filename":"pool/main/k/kconfig-frontends/kconfig-frontends-nox_4.11.0.1+dfsg-6_amd64.deb","size":124064,"md5":"82e096adccb7bd112c6d4c49b57e15a2","sha256":"69c608febfdab1b45fdc68b9594cdc303432a722a03a67aa27f1cbb03cd1efec","descriptionMd5":"fe4e8957e74c7e6eafe6343f7674ea65"}]