[{
	"raw": {},
	"required": [
		"Filename",
		"Size"
	],
	"package": "kconfig-frontends-nox",
	"source": "kconfig-frontends (4.11.0.1+dfsg-6)",
	"version": "4.11.0.1+dfsg-6+b1",
	"section": "devel",
	"priority": "optional",
	"architecture": "amd64",
	"depends": [
		"libc6 (>= 2.34)",
		"libncursesw6 (>= 6)",
		"libtinfo6 (>= 6)",
		"python3",
		"libncurses-dev"
	],
	"replaces": [
		"kconfig-frontends (<< 4.11.0.1+dfsg-4)"
	],
	"breaks": [
		"kconfig-frontends (<< 4.11.0.1+dfsg-4)"
	],
	"installedSize": 358,
	"maintainer": "Philippe Thierry <philou@debian.org>",
	"description": "NoX standalone implementation of the Linux Kconfig parser",
	"homepage": "http://ymorin.is-a-geek.org/projects/kconfig-frontends",
	"filename": "pool/main/k/kconfig-frontends/kconfig-frontends-nox_4.11.0.1+dfsg-6+b1_amd64.deb",
	"size": 123396,
	"md5": "95a98f6da82526a31a86ea1fea8741a6",
	"sha256": "ed40038242818c8d786cb5a0fedc44d2ec044407c3cc1919078668ea61058822",
	"descriptionMd5": "fe4e8957e74c7e6eafe6343f7674ea65"
}]